body {
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    padding: 10%;
}
.container {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 55px;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 15px;
    border: 1px black solid;
}
.container_form{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 15rem;
    height: 25rem;
}
form img {
    padding-left: 18%;
    width: 10rem;
    height: 10rem;
}
form h3 {
    padding-left: 18%;
    margin-top: -20px;
}
.container_usuario {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}
.container_usuario input {
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
    width: 100%;
    box-sizing: border-box;
}
.container_usuario i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666;
}
.container_password {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}
.container_password input{
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px #ccc solid;
}
.container_password i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666;
}
a {
    padding-left: 18%;
    text-decoration: none;
    color:inherit;
}
.container_button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ingresar{
    margin: 25px;
    padding: 10px 50px;
    border-radius: 15px;
    border: #ccc 1px solid;
    cursor: pointer;
}
.registrarse {
    margin-top: -25px;
    padding: 10px 40px;
    border-radius: 15px;
    border: #ccc 1px solid;
    cursor: pointer;
}