/* Estilos responsivos */
@media (max-width: 768px) {
    .container_link, .container_button {
        display: none;
    }

    .menu-button {
        display: block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    .menu-content {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #f8f9fa;
        border-top: 1px solid #ddd;
    }

    .menu-content a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    .container_body {
        flex-direction: column-reverse;
        text-align: center;
    }
    .container_foto, .container_presentacion{
        order: 0;
        flex: unset;
        text-align: center;
        margin: 10px 0;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}
.container_nombre {
    flex: 1;
    text-align: left;
}
.container_link {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container_link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.container_button {
    flex: 1;
    text-align: right;
}
.container_button button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.container_button button:hover {
    background-color: #0056b3;
}
h1 {
    font-size: 2rem; /* Ajuste de tamaño de fuente responsive */
    margin: 0;
}
.container_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.container_foto {
    order: 2;
    flex: 1;
    text-align: right;
}
.container_foto img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
.container_presentacion {
    order: 1;
    flex: 2;
    text-align: left;
}
.container_presentacion h1, .container_presentacion h2 {
    margin: 0;
}
.container_about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    margin-left: 15px;
}
.about h2 {
    margin-left: 5rem;
    margin-bottom: 0;
}
.about h3 {
    margin: 0;
}
