@media(max-width:768px) {
    .container_link {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .container_button {
        text-align: center;
        margin-top: 5px;
    }
    .container_nombre, .container_link, .container_button{
        flex: 1;
        text-align: center;
    }
    h1{
        font-size: 0.5rem;
    }
    .container_link a{
        font-size: 0.4rem;
        padding: 4px 8px;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}
.container_nombre{
    flex: 1;
    text-align: left;
}
.container_link {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container_link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.container_button{
    flex: 1;
    text-align: right;
}
.container_button button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.container_button button:hover {
    background-color: #0056b3;
}
h1 {
    font-size: 1.2rem;
    margin: 0;
}
