:root{
    --verde: #879981;
    --salmon: #FDAF8B;
    --durazno: #F7D4C1;
    --azul: #37435B;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    background: var(--durazno);
}
.container-image{
    height: 25rem;
    width: 100%;
    background: black;
    position: relative;
    display: inline-block;
}
.container-image img{
    height: 100%;
    width: 100%;
}
.container-image h2, .container-image h3 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
}
.container-image h2 {
    margin-top: 5px;
    top: 1px;
    left: 27%;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    
}
.container-image h3 {
    top: 35px;
    left: 30%;
}

.container-audio{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container-audio audio {
    height: 2rem;
}

.container-invitados h1{
  color: var(--azul);
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  padding-left: 3rem;
  margin-bottom: 2px;
  font-size: 50px;

}
.container-invitados h2{
    color: var(--azul);
    font-size: 15px;
    padding-left: 0.6rem;
    margin-top: 5px;  
    margin-bottom: 2rem; 
    display: flex;
    justify-content: center;
}
.container-invitados h2:first-of-type{
    margin-bottom: 0;
}
.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.container-days{
    background: var(--durazno);
    color:var(--azul);
    margin-left: 0.5rem;
    padding: 10px;
    border-radius: 100%;
    text-align: center;
    border: 2px solid;
    border-color: var(--verde);
}
.container-hours{
    background: var(--durazno);
    color:var(--azul);
    margin-left: .5rem;
    padding: 10px 18px 10px 18px;
    border-radius: 100%;
    text-align: center;
    border: 2px solid;
    border-color: var(--verde);
}
.container-minutes{
    background: var(--durazno);
    color:var(--azul);
    margin-left: .5rem;
    padding: 10px 15px 10px 15px;
    border-radius: 100%;
    text-align: center;
    border: 2px solid;
    border-color: var(--verde);
}
.container-seconds{
    background: var(--durazno);
    color:var(--azul);
    margin-right: 0.5rem;
    padding: 10px 15px 10px 15px;
    border-radius: 100%;
    text-align: center;
    border: 2px solid;
    border-color: var(--verde);
}
.dias, .horas, .minutos, .segundos{
    margin-top: 2px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--azul);
}
.container-ring{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.container-ceremonia{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    color: var(--azul);
    margin-bottom: 0 ;
}
.container-ceremonia .ceremonia{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.iglesia {
    margin-top: 20px;
    margin-bottom: 0;
}
.esperamos{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-fecha {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1px;
}
.container-fecha h2:first-of-type{
    border-right: 2px solid var(--verde);
    padding-right: 10px;
}
.aldea{
    margin-top: 10px;
    margin-bottom: 0;
}
.coatepeque{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-ubicacion{
    display: flex;
    justify-content: center;
}
.ubicacion {
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border-color: var(--salmon);
    background: var(--durazno);
    color: var(--azul);
}   
.container-copas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.container-foto{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 25rem;
    background-color: var(--salmon);
}
.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 100px;
}
.container-foto h1{
    margin-top: -40px;
    margin-bottom: 0;
}
.container-foto h3{
    margin-top: -50px;
    margin-bottom: 0;
}
.container-link{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}
.link-fotos{
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border-color: var(--salmon);
    background: var(--durazno);
    color: var(--azul);
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
}
.link-album{
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border-color: var(--salmon);
    background: var(--durazno);
    color: var(--azul);
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: -3rem;
}
.container-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    max-width: 20rem;
    gap: 10px;
}
.imagenes img {
    width: 100%;
    height: auto;
    margin-left: 0;
}
.imagenes img:nth-child(1)
{
    height: auto;
}
.imagenes img:nth-child(2){
    width: 100%;
    height: 15rem;
}
.imagenes img:nth-child(3){
    height: auto;
    margin-top: 0;
}
.imagenes img:nth-child(4){
    margin-top: -6.5rem;
    height: 16.2rem;
}

.container-regalo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 0;
}
.regalo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.container-regalo h2{
    margin-top: 0;
    margin-bottom: 5px;
}
.container-regalo h4{
    margin-top: 0;
    margin-bottom: 2px;
}
.container-despedida{
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container-despedida h1{
    font-size: 60px;
    margin-bottom: 0;
}
.container-despedida h3{
    font-size: 30px;
}