body {
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background-color: rgba(255, 255,255, 0.1);
    backdrop-filter: blur(40px);
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    margin-left: 50rem;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
}
.form-container h1 {
    color: black;
}
.form-container input {
    backdrop-filter: blur(40px); 
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: start;
    border-radius: 20px;
    background-color: rgba(255, 255,255, 0.2);
    backdrop-filter: blur(40px);
    font-size: 25px;
}
.form-container input::placeholder {
    font-size: 25px; /* Tamaño del texto del placeholder */
    color: white; /* Color del texto del placeholder */
}
.container-button {
    display: flex;
    justify-content: center;
}
.container-button button {
    padding: 20px 50px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.container-button button:hover {
    background-color: #0056b3;
}
